hr{
  margin: 1rem 0 2rem 0;
}

section.posts{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
}

section.posts article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
}

article.blog-post{
  color: var(--white);
}
article.blog-post a{
  color: var(--lightyellow);
  font-weight: 700;
}