.hero {
  position: relative;
  width: 100%;
  margin: 5.6rem 0;
}

.hero__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.2rem;
  height: 45rem;
}
.hero__image{
  display: flex;
  justify-content: center;
}

.hero__text{
  margin: auto;
}

.hero__image::after {
  content: "";
  position: absolute;
  height: 400px;
  aspect-ratio: 1/1;
  background-image: url("/images/LEONIA.webp");
  background-repeat: no-repeat;
  background-size: contain;
}

@media only screen and (max-width: 56.25em) {
  .hero {
    margin-bottom: 10rem;
  }

  .hero__inner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 3.2rem;
    height: 65rem;
  }

  .hero__text {
    order: 2;
    text-align: center;
  }

  .hero__image {
    order: 1;
  }
  .hero__image::after{
    height: 300px;
  }
}

@media only screen and (max-width: 37.5em) {
  .hero {
    margin-bottom: 12rem;
  }

  .hero__inner {
    height: 70rem;
  }
  .hero__image::after{
    height: 250px;
  }
}
