---
// Components
import {Hero, Features, Products} from "@/components";
import Layout from "@/Layout.astro";
---

<Layout pageTitle="LEONIA | Soluciones estadísticas y de inteligencia artificial"
  pageDescription="Soluciones estadísticas y de inteligencia artificial para tu empresa"
  pageType="main"
  >
  <Hero client:load />
  <Features client:load />
  <Products client:load />
  <div class="ZoRROWrapper">
    <chat-zorro></chat-zorro>
    <button id="chatZoRROButton">Habla con nosotros</button>
  </div>
  <script is:inline src="src/assets/scripts/CargarWebComponent.ts"></script>
</Layout>